body{
    background-color: rgb(rgb(255, 225, 190), green, blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.reg{
    background-color: rgb(255, 236, 172);
    width: fit-content;
    border-radius: 1rem;
    align-items: center;
    text-align: center;
}
form{
    padding: 2rem;
}
img{
    width: 5rem;
}
input{
    width: 20rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    border: none;
}
button{
    width: 20rem;
    height: 2rem;
    border-radius: 0.3rem;
    border: none;
    background-color: rgb(133, 89, 39);
}
p{
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(133, 89, 39);
    font-weight: 100;
}
p a{
    text-decoration: underline;
    color: white;
    background-color: rgb(133, 89, 39);
    padding: 3px;
}
.back{
    color: rgb(133, 89, 39);
    border: 2px solid rgb(133, 89, 39);
    text-decoration: none;
    padding: 5px;
    border-radius: 0.3rem;
    border-top: none;
}

@media (max-width: 480px) {
    img{
        width: 5rem;
    }
    .reg{
        width: 90vw;
    }
    input{
        width: 90%;
    }
    button{
        width: 90%;
    }
    form{
        padding: 0;
    }
    p{
        font-size: 0.7rem;
    }
}